.icon{
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  background-color: rgba(230, 237, 245, 0.5);
  border-radius: 10px;
  border: 3px solid transparent;

  :hover{
    cursor: pointer;
  }
}