.layout {
    display: flex;
    height: 100vh;
}

.header {
    background-color: #F4F9FD;
    width: calc(100% - 16rem);
    height: 17vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}




